* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.w_fenye5_quanju {
  width: 100%; }

.w_fenye5_header {
  background: url(../img/WScenes-banner.jpg);
  padding: 50px 0; }
  .w_fenye5_header > div {
    width: 990px;
    margin: 0 auto;
    display: flex;
    text-align: center; }
    .w_fenye5_header > div > div {
      width: 60%;
      margin: 0 auto;
      display: flex; }
      .w_fenye5_header > div > div > p:first-child {
        width: 70%;
        border: 2px solid orange;
        border-radius: 20px;
        position: relative;
        height: 40px; }
        .w_fenye5_header > div > div > p:first-child input {
          margin-top: 2px;
          height: 35px;
          width: 70%;
          margin-left: -80px;
          background: transparent;
          border: 0;
          outline: none; }
        .w_fenye5_header > div > div > p:first-child a {
          display: inline-block;
          text-decoration: none;
          position: absolute;
          right: -3px;
          height: 100%;
          width: 26%;
          line-height: 40px;
          font-size: 18px;
          color: #fff;
          font-weight: bold;
          background: orange;
          border-radius: 19px; }
          .w_fenye5_header > div > div > p:first-child a img {
            vertical-align: middle;
            margin-top: -5px; }
      .w_fenye5_header > div > div > p:nth-child(2) {
        border-radius: 10px;
        width: 150px;
        height: 40px;
        font-size: 18px;
        color: #fff;
        border: 1px solid orange;
        line-height: 40px;
        margin-left: 30px;
        background: orange;
        text-align: center; }
        .w_fenye5_header > div > div > p:nth-child(2) a {
          text-decoration: none;
          color: #fff; }
          .w_fenye5_header > div > div > p:nth-child(2) a img {
            vertical-align: middle;
            margin-top: -5px;
            padding-right: 10px; }

.w_fenye5_content > ul:first-child {
  width: 990px;
  margin: 0 auto;
  display: flex; }
  .w_fenye5_content > ul:first-child li {
    flex-grow: 1;
    margin: 30px;
    text-align: center;
    list-style: none;
    font-size: 18px;
    justify-content: space-between; }
    .w_fenye5_content > ul:first-child li p {
      margin: 0 auto;
      width: 100px;
      height: 130px;
      border-radius: 50px;
      background: #ccc;
      position: relative; }
      .w_fenye5_content > ul:first-child li p img {
        padding-top: 38px;
        padding-left: 5px; }
      .w_fenye5_content > ul:first-child li p span {
        display: inline-block;
        position: absolute;
        bottom: -9px;
        left: 50%;
        margin-left: -8px;
        background: red;
        display: none;
        border-top: 10px solid orange;
        border-left: 10px solid #fff;
        border-right: 10px solid #fff; }
  .w_fenye5_content > ul:first-child > li:first-child {
    color: orange; }
    .w_fenye5_content > ul:first-child > li:first-child > p {
      background: orange; }
      .w_fenye5_content > ul:first-child > li:first-child > p > span {
        display: block;
        border-top: 10px solid orange;
        border-left: 10px solid #fff;
        border-right: 10px solid #fff; }
.w_fenye5_content > div {
  width: 990px;
  margin: 0 auto; }
  .w_fenye5_content > div > div {
    display: none; }
    .w_fenye5_content > div > div ul {
      display: flex;
      margin: 40px 0; }
      .w_fenye5_content > div > div ul > li {
        list-style: none;
        width: 227.5px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        margin: 0 10px;
        height: 300px;
        -webkit-flex-grow: 1;
        -webkit-justify-content: space-around;
        transition: all 0.5s;
        box-shadow: -1px 0px 15px #ccc; }
        .w_fenye5_content > div > div ul > li img {
          width: 100%;
          height: 100%; }
        .w_fenye5_content > div > div ul > li > span {
          display: block;
          margin: 0 auto;
          padding-top: 130px;
          width: 50px; }
        .w_fenye5_content > div > div ul > li .w_pp1 {
          position: absolute;
          padding: 20px;
          font-size: 18px;
          z-index: 999;
          bottom: 40px; }
          .w_fenye5_content > div > div ul > li .w_pp1 a {
            color: black;
            text-decoration: none; }
        .w_fenye5_content > div > div ul > li .w_pp2 {
          position: absolute;
          bottom: 10px;
          padding: 0 20px;
          margin-bottom: 15px;
          display: flex;
          overflow: hidden;
          width: 82%; }
          .w_fenye5_content > div > div ul > li .w_pp2 span {
            display: block;
            font-size: 14px;
            width: 50%;
            text-align: left; }
          .w_fenye5_content > div > div ul > li .w_pp2 span:last-child {
            text-align: right; }
      .w_fenye5_content > div > div ul .w_pp1:hover a {
        color: red; }
      .w_fenye5_content > div > div ul li:hover {
        transform: translateY(-5px);
        box-shadow: 0px 5px 10px pink; }
      .w_fenye5_content > div > div ul .w_fenye5_cont2_1:hover p {
        display: block; }
      .w_fenye5_content > div > div ul .w_fenye5_cont2_1 {
        position: relative;
        transition: all 0.5s; }
        .w_fenye5_content > div > div ul .w_fenye5_cont2_1 p {
          display: none;
          width: 78px;
          height: 23px;
          line-height: 23px;
          text-align: center;
          position: absolute;
          top: 90px;
          left: 32%;
          background: orange;
          border-radius: 5px; }
          .w_fenye5_content > div > div ul .w_fenye5_cont2_1 p span {
            color: #fff; }
          .w_fenye5_content > div > div ul .w_fenye5_cont2_1 p span:last-child {
            position: absolute;
            top: 23px;
            left: 30px;
            margin: 0 auto;
            border-top: 10px solid orange;
            border-left: 10px solid #fff;
            border-right: 10px solid #fff; }
  .w_fenye5_content > div > div:first-child {
    display: block; }

.w_fenye5_footer .w_cont10 {
  width: 100%;
  background: #f6f6f6;
  margin-top: 80px; }
  .w_fenye5_footer .w_cont10 .w_cont10_1 {
    width: 940px;
    padding: 20px 0;
    margin: 0 auto; }
    .w_fenye5_footer .w_cont10 .w_cont10_1 ul {
      display: flex;
      padding: 30px 0; }
      .w_fenye5_footer .w_cont10 .w_cont10_1 ul > li {
        border-right: 1px solid #e5e5e5;
        -webkit-flex-grow: 1;
        padding-left: 30px;
        list-style: none; }
        .w_fenye5_footer .w_cont10 .w_cont10_1 ul > li p {
          line-height: 30px;
          font-weight: bold;
          font-size: 18px; }
          .w_fenye5_footer .w_cont10 .w_cont10_1 ul > li p img {
            vertical-align: middle;
            margin-right: 15px; }
        .w_fenye5_footer .w_cont10 .w_cont10_1 ul > li ol:last-child li:nth-child(2) {
          position: relative; }
          .w_fenye5_footer .w_cont10 .w_cont10_1 ul > li ol:last-child li:nth-child(2) img {
            position: absolute;
            top: -8px; }
        .w_fenye5_footer .w_cont10 .w_cont10_1 ul > li ol {
          margin-left: 50px; }
          .w_fenye5_footer .w_cont10 .w_cont10_1 ul > li ol li {
            list-style: none;
            padding: 3px 0;
            color: #7e7b7b;
            font-size: 14px; }
            .w_fenye5_footer .w_cont10 .w_cont10_1 ul > li ol li img {
              vertical-align: middle; }
            .w_fenye5_footer .w_cont10 .w_cont10_1 ul > li ol li a {
              text-decoration: none;
              color: #a5a5a5; }
          .w_fenye5_footer .w_cont10 .w_cont10_1 ul > li ol li:hover a {
            color: orange; }
      .w_fenye5_footer .w_cont10 .w_cont10_1 ul > li:last-child {
        border: 0; }
    .w_fenye5_footer .w_cont10 .w_cont10_1 div {
      overflow: hidden;
      padding: 10px 0;
      border-bottom: 1px solid #ccc; }
      .w_fenye5_footer .w_cont10 .w_cont10_1 div p {
        height: 30px; }
      .w_fenye5_footer .w_cont10 .w_cont10_1 div p:first-child {
        float: left; }
        .w_fenye5_footer .w_cont10 .w_cont10_1 div p:first-child span {
          color: #ccc;
          font-size: 18px;
          display: block;
          padding-top: 5px; }
      .w_fenye5_footer .w_cont10 .w_cont10_1 div p:last-child {
        float: right; }

/*# sourceMappingURL=w_fenye5.css.map */
