@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
html{
    font-size:62.5% ;
}
.w_fenye4_header{
    width: 100%;
    background: url(../img/sm-banner.jpg) no-repeat;
    background-size: 110% 100%;
    .w_fenye4_header1{
        width: 1000px;
        padding: 50px 0 30px 0;
        margin: 0 auto;
        >div{
            display: inline-block;
            p:first-child{
                padding: 10px 0;
                border-bottom: 3px solid #ccc;
            }
            p:nth-child(2){
                font-size: 16px;
                font-weight: bold;
                color: #fff;
                padding: 20px 0;
                span{
                    display: inline-block;
                    font-size: 24px;
                    color: orange;
                }
                span:last-child{
                    font-size: 16px;
                }
            }
            p:nth-child(3){
                padding: 12px 30px;
                text-align: center;
                width: 200px;
                font-size: 18px;
                font-weight: bold;
                background: orange;
                border-radius:10px ;
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
            p:nth-child(4){
                padding: 20px 0;
            }
            p:nth-child(5){
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                img{
                    vertical-align: middle;
                    padding-right: 10px;
                }
            }
        }
    }
}
.w_fenye4_content{
        width: 100%;
        .w_fenye4_cont1{

           height: 586px;
           width: 100%;
           background: url(../img/sm-part1-bg.jpg) no-repeat -293px 0px;
           background-size: 143% 100%;
            >div{
                width: 1000px;

                margin: 0 auto;
                padding: 88px 0;
                p:nth-child(2){      
                    padding-top: 20px;
                    color: #ccc;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 25px;
                }
                p:nth-child(3){
                    text-align: center;
               
                    margin: 200px 0 0 252px;
                        
                    span{
                        display: block;
                        font-size: 16px;
                        padding-top: 10px;
                        font-weight: bold;
                        color: #999;
                    }
                    span:first-child{
                        color: orange;
                    }
                }
            }
        }
        
        
        
    .w_fenye4_cont2{
        width: 100%;
        background: #ecf2ff;
        div{
            width: 1000px;
            padding: 40px 0;
            margin: 0 auto;
            text-align: center;
            P{
                padding: 10px 0;
            }
            p:first-child{
                padding-bottom: 30px;
            }
        }
    }
    
    
    .w_fenye4_cont3{
        background: url(../img/sm-part3-bg.jpg) no-repeat  -293px 0px;
        background-size: 143% 100%;
        
       >div{
           width: 1000px;
//         display: flex;
           margin: 0 auto;
           overflow: hidden;
           padding: 50px 0;
           >div:first-child{
               float: left;
               p{
                   padding: 20px 0;
                   span{
                        display: block;
                        padding: 5px 0;
                        font-size: 16px;
                        font-weight: bold;
                        color: #ccc;
                   } 
                   span:first-child{
                       font-weight: bold;
                       color: #000;
                   }
               }
           }
           >div:last-child{
               p:first-child{
                   text-align: center;
                   font-size: 24px;
                   font-weight: bold;
                   padding-bottom: 20px ;
               }
               >p:nth-child(2){
                   width: 407px;
                   height: 416px;
//                 border: 1px solid;
                   background: url(../img/sm-part3-pic2.gif) no-repeat;
                   background-size: 100% 100%;
                   span{
                       display: block;
                       text-align: center; 
                       font-size: 20px;
                       color: #fff;
                       font-weight: bold;
                   }
                   span:nth-child(1){
                       padding: 36px 35px 10px 0px;
                   }
                   span:nth-child(2){
                        padding: 45px 35px 10px 0px;
                   }
                   span:nth-child(3){
                        padding: 38px 35px 10px 0px;
                   }
                   span:nth-child(4){
                        padding: 32px 35px 10px 0px;
                   }
               }
               float: right;
           }
       }
    }
    
    
     .w_fenye4_cont4{
        width: 100%;
        background: #ecf2ff;
        div{
            width: 1000px;
            padding: 40px 0;
            margin: 0 auto;
            text-align: center;
            P{
                padding: 10px 0;
            }
            p:first-child{
                padding-bottom: 30px;
              
            }
            p:last-child{
                  display: flex;
                  input{
                      display: inline-block;
                      background: pink;
                      text-align: center;
                      font-size: 20px;
                      width: 150px;
                      height: 40px;
                      color: #fff;
                      outline: none;
                      border: none;
                      border-radius:5px ;
                  }
            }
        }
    }
    
    
    
    
    .w_fenye4_cont5{
         width: 100%;
         >div{
             width: 1000px;
             margin: 0 auto;
             padding: 80px 0;
             p:first-child{
                 padding-bottom: 50px;
             }
             >div{
                 width: 100%;
                 height: 265px;
                
                 
                 background: url(../img/sm-part5-pic2.gif) no-repeat;
                 >ul:first-child{
                     width: 100%;
                     display: flex;
                     margin: 0;
                     padding: 0; 
                      position: relative;
                     li{
                  
//                       -webkit-flex-grow: 1;
//                       -webkit-justify-content: space-between;
//                       margin:35px 0 20px 150px;
                         list-style: none;
                         span{
                             display: block;
                             color: #fff;
                             font-size: 16px;
                             font-weight: bold;
                             padding: 2px;
                         }
                     }
                       li:nth-child(1){
                          position: absolute;
                          top: 33px;
                         left: 158px;
                     }
                     li:nth-child(2){
                          position: absolute;
                          top: 33px;
                         left: 400px;
                     }
                       li:nth-child(3){
                          position: absolute;
                          top: 33px;
                         left: 637px;
                     }
                      li:nth-child(4){
                          position: absolute;
                          top: 33px;
                         left: 884px;
                     }
                }
                >ul:last-child{
                    width: 75%;
                    margin: 0 auto;
                    display: flex;
                    position: relative;
                    li{
                        list-style: none;
                        >span{
                            display: block;
                            padding: 3px 0;
                            font-size: 14px;
                            color: green;
                        }
                        >span:nth-child(3){
                            color: red;
                            font-size: 12px;
                        }
                        
                    }
                    li:nth-child(1){
                        position: absolute;
                        top: 190px;
                        left: 143px;
                    }
                     li:nth-child(2){
                         position: absolute;
                        top: 190px;
                         left: 404px;
                    }
                     li:nth-child(3){
                         position: absolute;
                        top: 200px;
                         left: 667px;
                    }
                }
             }
         }
    }
    
    
    
    
    
    
    
    
    
    
    

    .w_fenye4_cont6{
        width: 100%;
        background: #ecf2ff;
        >div{
            width: 1020px;
            margin: 0 auto;
            padding-bottom: 60px;
            p:first-child{
                text-align: center;
                color: #999;
                font-size: 20px;
                padding: 50px 0;
            }
           
            >ul:nth-child(2){
                width: 100%;
                display: flex;
                >li{
                    text-align: center;
                    list-style: none;
                    -webkit-flex-grow: 1;
                    -webkit-justify-content:space-between;
                }
                >li:last-child{
                    width: 47px;
                }
            }
              >ul:nth-child(3){
                width: 100%;
                display: flex;
                margin-top: -17px;
                >li{
                    list-style: none;
                    text-align: center;
                    -webkit-flex-grow: 1;
                    -webkit-justify-content:space-between;
                }
                >li:first-child{
                    width: 50px;
                }
            }
        }
    }

    .w_fenye4_cont7{
        height: 215px;
        background: url(../img/smfox.jpg) no-repeat;
        background-size: 100% 100%;
        div{
            width: 1000px;
            margin: 0 auto;
            padding: 45px 0;
            a{
                
                text-decoration: none;
                p{
                    width:380px;
                    padding: 30px 22px;
                    border-radius:10px ;
                    text-align: center;
                    margin: 30px auto;
                    line-height: 50px;
                    background: #f58220;
                    font-size: 26px;
                    font-weight: bold;
                    color: #fff;
                }
                
            }
        }
    }





}
.w_fenye5_footer{
    .w_cont10{
            width: 100%;
            background: #f6f6f6;
           margin-top: 80px;
            .w_cont10_1{
                width: 940px;
                padding: 20px 0;
                margin: 0 auto;
                ul{
                        display: flex;
                        padding: 30px 0;
                    >li{
                        border-right: 1px solid #e5e5e5;
                        -webkit-flex-grow: 1;
        //              text-align: center;
                        padding-left: 30px;
                        list-style: none;
                        p{
        //                  border: 1px solid;
                            line-height: 30px;
                            font-weight: bold;
                            font-size: 18px;
                            img{
                                vertical-align: middle;
                                margin-right: 15px;
        //                      display: inline-block;
        //                      width: 30px;
        //                      height: 30px;
        //                      border-radius:50% ;
        //                      background: olive;
                            }
                        }
                        ol:last-child{   
                            li:nth-child(2){
                                position: relative;
                                
                                img{
                                    position: absolute;
                                    top: -8px;
                                
                                }
                            }
                        }
                        ol{
                            margin-left: 50px;
                            li{
                                
                                list-style: none;
                                padding: 3px 0;
                                color: #7e7b7b;
                                font-size: 14px;
                                img{
                                    vertical-align: middle;
                                }
                                a{
                                    text-decoration: none;
                                    color:#a5a5a5 ;
                                }
                            }
                            li:hover a{
                                color: orange;
                            }
                        }
                    }
                    >li:last-child{
                        border: 0;
                    }
                }
                div{
                    overflow: hidden;
                    padding: 10px 0;
                    border-bottom: 1px solid #ccc;
                    p{
                        height: 30px;
                        
                    }
                    p:first-child{
                        float: left;
                        span{
                            color: #ccc;
                            font-size: 18px;
                            display: block;
                            padding-top: 5px;
                        }
                    }
                    p:last-child{
                        float: right;
                       
                    }
                }
            }
        }
}
